.home-intro {
  width: 400px;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  line-height: 1.4;
  text-align: center;
  background-color: #FFF;
  color: #555;
}
.home-icon {
  width: 130px;
  height: 130px;
  margin: auto;
}