.home-intro {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  line-height: 1.4;
  text-align: center;
  background-color: #FFF;
  color: #555;
  font-size: 15px;
}
.home-icon {
  width: 130px;
  height: 130px;
  margin: auto;
}